name: ci

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 8

      - name: Install
        run: pnpm install --frozen-lockfile

      - name: Build lib
        run: pnpm run build

      - name: Test
        run: pnpm run test
