name: demo-app - build and deploy to Azure web service

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Git ref (branch/tag/SHA) to deploy (optional)'
        required: false
        default: ''
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ (github.event_name == 'workflow_dispatch' && github.event.inputs.ref) || github.ref }}

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com/

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV
      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: Set github repository
        run: pnpm config set //https://npm.pkg.github.com//:_authToken ${{secrets.GITHUB_TOKEN}}
        
      - name: Install dependencies
        run: pnpm install

      - name: Build lib
        run: pnpm run build

      - name: Build demo-app
        run: pnpm run build-demo-app

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: demo-app
          path: dist/apps/demo-app/browser

  deploy:
    if: github.event_name == 'release' || github.actor == 'alessiobianchini'
    runs-on: windows-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: demo-app
      
      
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'ng-flex-layout'
          slot-name: 'Production'
          package: .
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_4ED41A4BA6A141F58A659539E5960D37 }}